@{
    ViewData["Title"] = "AdminDashboard";
}
<hr />
<hr />
<div class=" row">
    <div class="col-lg-4">
        <ul class="list-group">
            
            <li class="list-group-item active">Search Student</li>
            <li class="list-group-item">Edit Student</li>
            <li class="list-group-item">Add new student</li>
            <li class="list-group-item">Delete Student</li>
        </ul>
    </div>
    <div class="col-md-8">
        <h3>Admin dashboard   <a href="#">logout</a></h3>
        <hr/>
    </div>
</div>


