@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "AdminLogin";
}

<div class=" row justify-content-md-center">
    <div class="col-6">
        <div class="card">
            <div class="card-body">
                <h2>Admin Login</h2>
                <hr />
                <form method="post">
                    <div class="mb-3">
                        Email address:
                        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Name@example.com">
                    </div>
                    <div class="mb-3">
                        Enter your password:
                        <input type="password" class="form-control" id="exampleFormControlInput1" placeholder="Enter your password">
                    </div>

                    <hr />
                    <button type="submit" class="btn btn-primary">Login</button>
                    <hr />
            <p>Not a member? <a href="#!">Register</a></p>

                </form>
            </div>
        </div>
    </div>
</div>
