
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Delete";
}
<hr />
<hr />
<form class="form-inline">
    Enter Rollno:
    <input type="search" aria-label="Search" aria-describedby="search-addon" />
    <hr />
</form>
<button type="button" class="btn btn-danger">Delete</button>



