@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "SearchStudent";
}
<hr/>
<hr />

<form action="~/Views/Auth/signup.cshtml">
    Enter Rollno: <input type="search" class="form-control rounded" placeholder="Search" aria-label="Search" aria-describedby="search-addon" style="
    margin-bottom: 10px;" />
                
                  <button type="button" class="btn btn-success">Search</button>
    <hr/>
    <a href="#"><h3>Student Details</h3></a>
</form>
