@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "StudentLogin";
}

<div class=" row justify-content-md-center">
    <div class="col-6">
                <h2>Student Login page</h2>
                <hr />
                <form method="post">
                    <div class="mb-3">
                        Email address:
                        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Name@example.com">
                    </div>
                    <div class="mb-3">
                        Enter your password:
                        <input type="password" class="form-control" id="exampleFormControlInput1" placeholder="Enter your password">
                    </div>

                    <hr />
                    <button type="submit" class="btn btn-primary">Login</button>
                    <hr />
                </form>
            </div>
        </div>